@import "tailwindcss";
@import "tailwindcss/theme.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@import "./theme/dark.css";
@import "./theme/light.css";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}


